@model IEnumerable<Bakery.Models.sp_dshoadon_Result>

@{
	ViewBag.Title = "Index";
	var p = Request.Params;
}

<style>
	.pager .selected {
		color: blue;
		text-decoration: underline;
	}

	.pager span {
		cursor: pointer;
	}

	.search input[type="radio"]:checked + label {
		background-color: #6c757d;
		color: white;
	}
</style>

<h2>Danh sách hóa đơn</h2>

<button type="button" class="btn btn-primary mt-3">@Html.ActionLink("Tạo mới", "Create")</button>

<form method="get" action="" id="search-frm">
	<input type="number" id="page-number" name="page" value="1" hidden />
	<div class="row mt-4 search">
		<div class="col-6" onchange="submitFrm()">
			Tình trạng:
			<input id="all" type="radio" name="active" value="" hidden @(String.IsNullOrEmpty(p["active"]) ? "checked" : "") />
			<label for="all" class="btn btn-outline-secondary ms-2 me-2">Tất cả</label>
			<input id="inactive" type="radio" name="active" value="true" hidden @(p["active"] == "true" ? "checked" : "") />
			<label for="inactive" class="btn btn-outline-secondary ms-2 me-2">Đã giao</label>
			<input id="active" type="radio" name="active" value="false" hidden @(p["active"] == "false" ? "checked" : "") />
			<label for="active" class="btn btn-outline-secondary">Chưa giao</label>
		</div>
	</div>
</form>

<table class="table mt-3">
	<tr class="table-info row">
		<th class="col-2">
			Ngày
		</th>
		<th class="col-2">
			Giao hàng
		</th>
		<th class="col-4">
			Địa chỉ giao
		</th>
		<th class="col-2">
			Tổng tiền
		</th>
		<th class="col-2"></th>
	</tr>

	@foreach (var item in Model)
	{
		<tr class="row">
			<td class="col-2">
				@item.NgayHD.Value.ToShortDateString()
			</td>
			<td class="col-2">
				@(item.TinhTrangGiao.HasValue && item.TinhTrangGiao.Value? "Đã giao" : "Chưa giao")
			</td>
			<td class="col-4">
				@(String.IsNullOrEmpty(item.DiaChiGiao)? "Mua tại tiệm" : item.DiaChiGiao)
			</td>
			<td class="col-2">
				@string.Format("{0:N0}", item.TongTien) đ
			</td>
			<td class="col-2">
				<a href="@Url.Action("Edit", new { id = item.MaHD })">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon">
						<path d="M471.6 21.7c-21.9-21.9-57.3-21.9-79.2 0L362.3 51.7l97.9 97.9 30.1-30.1c21.9-21.9 21.9-57.3 0-79.2L471.6 21.7zm-299.2 220c-6.1 6.1-10.8 13.6-13.5 21.9l-29.6 88.8c-2.9 8.6-.6 18.1 5.8 24.6s15.9 8.7 24.6 5.8l88.8-29.6c8.2-2.7 15.7-7.4 21.9-13.5L437.7 172.3 339.7 74.3 172.4 241.7zM96 64C43 64 0 107 0 160V416c0 53 43 96 96 96H352c53 0 96-43 96-96V320c0-17.7-14.3-32-32-32s-32 14.3-32 32v96c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V160c0-17.7 14.3-32 32-32h96c17.7 0 32-14.3 32-32s-14.3-32-32-32H96z" />
					</svg>
				</a>
			</td>
		</tr>
	}

</table>

<div style="display: flex" class="pager">
	<div style="flex: 1;"></div>
	<div>
		@for (int i = 1; i <= ViewBag.PageCount; i++)
		{
			<span class="m-1 @((i == 1 && String.IsNullOrEmpty(p["page"])) || (i + "" == p["page"]) ? "selected" : "")" onclick="changePage(@i)">@i</span>
		}
	</div>
</div>

<script>
	function changePage(i) {
		$("#page-number").val(i);
		$("#search-frm").submit();
	}

	function submitFrm() {
		$('#search-frm').submit();
	}
</script>

